.counter{
  display: block;
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  height: 100px;
  width: 100%;
  line-height: 100px;
  vertical-align: middle;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  background-color: #327094;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}
