@keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: 0; }
    100%  { opacity: 1; }
}
.step{
  display: inline-block;
  vertical-align:top;
  box-sizing: border-box;
  padding: 2rem;
  animation: 2s fadein;
  text-align: center;
}
.step-title {
  color: #327094;
  font-size: 3rem;
  max-width: 600px;
  margin: 0 auto 2rem;
}
.step-description {
  line-height: 1.6em;
  max-width: 600px;
  margin: 0 auto;
}
